<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week2%20-%20Pandas%20and%20Python/Basic_Pandas_Load_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Pandas operations

**Goal**: Our goal here is to learn how to load a dataset into a Pandas DataFrame. The dataset can come either in CSV or in JSON format. We will see also how to perform basic data manipulations and very basic data visualizations so that you understand the nature of your data.

## 1. Loading a dataset in CSV format

First you have to import the `pandas` package.

In [0]:
import pandas as pd # press shift+enter to execute it

Now you can see that you autocomplete your code with functions that are included in `pandas`. Eg type `pd.read` and see that it recommends some functions:

In [0]:
pd.read

In [3]:
# let's load a file

url = "https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/pandas_tutorial_read.csv"
data = pd.read_csv(url) 
data.head()

  2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America
0  2018-01-01 00:03:20;read;country_7;2458151262;...
1  2018-01-01 00:04:01;read;country_7;2458151263;...
2  2018-01-01 00:04:02;read;country_7;2458151264;...
3  2018-01-01 00:05:03;read;country_8;2458151265;...
4  2018-01-01 00:05:42;read;country_6;2458151266;...

Is the above correct? Most likely not. We see there are ';' and the data seem to be in one column. The default delimiter is ',' so we need to change it.

In [5]:
data = pd.read_csv(url, delimiter=';') 
data.head()

   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4  2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America

This looks better. But something else does not look good now. Now we don't have a header for the data. This usually comes with the documentation. I provide it here.

In [6]:
data = pd.read_csv(url, 
                   delimiter=';', 
                   names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']) 
data.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

With the `head` function you see the first few lines. You can also see the:

- whole dataset: just type ```data```
- the beginning as before ```data.head()``` 
- the ```data.tail()``` or 
- a sample such as ```data.sample(5)```

Try it out below:

## DataFrame components
There are three components of the DataFrame: the index, columns and data (values). We can extract each of these components into their own variables. Let's do that and then inspect them:

In [0]:
index = data.index
columns = data.columns
values = data.values

In [0]:
index

In [0]:
columns

In [0]:
values

## Data types of the components

In [0]:
type(index)

In [0]:
type(columns)

In [0]:
type(values)


The index and the columns are the same type: a pandas **`Index`** object (**`RangeIndex`** is of type **`Index`**), which is a sequence of labels for either the rows or the columns.

The values are a NumPy **`ndarray`**, which stands for n-dimensional array, and is the primary container of data in the NumPy library. Pandas is built directly on top of NumPy.

### Selecting columns

If you want to select two particular columns you can do it like that:

```data[['country', 'user_id']]``` 

or you can take the columns in a different order: 

```data[['user_id', 'country']]```.

The way to remember the syntax is that outer brackets signify that you want to select columns, and the inner brackets are for the list itself.

Try it out.

The above returns a pandas.DataFrame. If you want to return a pandas.Series instead then you can use this syntax:

```data.user_id ```

or 

``` data['user_id'] ```

If you want to filter one those users that came from SEO then you can write:

``` data[data.source == 'SEO'] ```

where the inner statement will create a boolean mask.

### Chaining

You can combine multiple selection methods as follows:

``` data.head()[['country', 'user_id']] ```

**CAUTION**: A thing to keep in mind is that when you use chaining you work on *copies* of the original DataFrame. So if you use chaining to change data, you may observe that the original DataFrame was not changed.

---

Now it's your turn to solve an exercise and deepen your knowledge.

<div class="alert alert-block alert-success">
    <h2>Exercise 1:</h2>


    
>Select the user_id, the country and the topic columns for the users who are from country_2, and show only the first 10 rows
</div>

In [0]:
# enter your solution here.

In [0]:

# possible solution 
# data[['user_id', 'topic', 'country']][data['country'] == 'country_2'].head(10)

---
## 2. Loading JSON files

Many of the data in the Internet exists in JSON format which is a structured text format, and is very similar to a Python dictionary.

We will see how to load a JSON dataset in a Pandas DataFrame.

We will use the Citibike API that provides a real-time view of the Citibike stations in New York.
The API call at http://www.citibikenyc.com/stations/json.

In [0]:
import requests
url = 'http://www.citibikenyc.com/stations/json'
data = requests.get(url).json()
data

Above you see how the JSON file looks. The JSON results contain two keys: The `executionTime` and `stationBeanList`. The `stationBeanList` is a list of dictionaries, with each dictionary corresponding to a Citibike station.

In [0]:
data.keys()

With Pandas we can easily convert a list of dictionaries into a DataFrame

In [0]:
import pandas
df = pandas.DataFrame(data["stationBeanList"])
df.head(5)

Let's try to understand the columns:

We notice that:

- **totalDocks** = **availableBikes** (bikes ready to rent) + **availableDocks** (how many docks are free)

To see if the data has been imported correctly, we can verify the datatypes of the columns. Pandas tries to infer the datatypes and for this case it does a pretty good job. In general, you should consider providing explicitly the datatypes of each column.

In [0]:
df.dtypes

One column that looks not parsed correctly is the **lastCommunicationTime** which is an `object` (i.e., `string`), so you may want to convert it to the `datetime` type.

<div class="alert alert-block alert-success">
    <h2>Exercise 2:</h2>


    
>Convert the **lastCommunicationTime** into a `datetime` datatype. <br>
**Hint**: Use the [pandas.to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) function.
</div>

In [0]:
# Your solution here

In [0]:
# df["lastCommunicationTime"] = pd.to_datetime(df["lastCommunicationTime"])
# df.head()

Let's confirm that the **lastCommunicationTime** column is of type `datetime`.

### Adding a column

We can add a column `perc_full` that shows how full is each station.

In [0]:
df["perc_full"] = df['availableBikes']/df['totalDocks']
df.head()

---
## Writing the data to a CSV

With the above, we just scratched the surface of what it means to do data processing.

After you did your basic data processing, you may want to save the DataFrame in a new CSV file, so that you don't have to repeat the same pre-processing everytime. You can use the [to_csv](https://datatofish.com/export-dataframe-to-csv/) function.

**Note**: When you use Google Colab, this file will only be saved in your temporary virtual machine space and will be deleted once your Colab instance is closed (i.e. you close the window). If you want to explore more permanent solutions of saving your file look [here](https://colab.research.google.com/notebooks/io.ipynb).

In [0]:
# uncomment the following to save the file
# df.to_csv("my_new_file.csv", sep=",")