<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/assignment1/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

For the first assignment, you will apply what you have learnt in the first labs. You have the opportunity to review and practice data cleaning and also SQL. The first dataset consists of data for loan applications at a bank. One row represents one past loan application, the features of the applicant and whether it was accepted or not. 

You will apply exploratory data analysis on it. You can use what you learnt previously from the first exercises. The methology behind this assignment is quite similar, but since the dataset is different you should sometimes adapt your code.

### Important Notice : 
You are supposed to fill this notebook following the instructions (i.e. writing code in the cells with *#YOUR CODE HERE*). Your code should be able to provide the solution so that you can answer various questions posed in this notebook and in a Moodle Quiz. You'll be evaluated on both readability of the notebook and correctness of the answers given on Moodle.

So for this assignment you have to complete this notebook and then (you have to do BOTH!):

1. Submit your Python notebook here: https://moodle.unil.ch/mod/assign/view.php?id=787962
2. Answer the questions in this Moodle Quiz:
https://moodle.unil.ch/mod/quiz/view.php?id=786880 (you can only submit ONCE!)

In [0]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

sns.set(style="darkgrid")
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

<br>
First, load the file from our github link in a Dataframe.

In [0]:
url = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/new_application_train_1.csv'
#YOUR CODE HERE

***Question 1 :***
<br>
How many rows and columns does the dataset have? (without including the header).

<br>

The `'TARGET'` column indicates the people who have been given a loan (value of 1) and the ones who have not (value of 0). Using a barplot, show the amount of results for each label.

**Hint:** Use *plot()* method on the result of *value_count()*

In [0]:
#YOUR CODE HERE

***Question 2 :*** <br>
How many people were given a loan (label 0) vs declined a loan (label 1)?

<br>

Use the *describe* method to get some summary statistics about `'DAYS_BIRTH'` and `'DAYS_EMPLOYED'` columns. Do you recognize some weird values ? If so remove them. Plot the histogram of `'DAYS_EMPLOYED'` before and after your transformation.
<br>


**Hint:** These values are negative because they correspond to a difference of number of days. The following transformation can be useful : 
- Taking the absolute value (*abs()*) since we want positive numbers

In [0]:
#YOUR CODE HERE

***Question 3:*** <br>
After the removal of the outlier, what is the new mean value of `'DAYS_EMPLOYED'`? (rounded to the nearest integer)

For each row, compute the number of missing entries and the percentage of the table it represents

**Hint:** Consider summing the null values using the *isnull()* and *sum()* methods

In [0]:
#YOUR CODE HERE

***Question 4:*** <br>
What is the number of missing values for the column `'OWN_CAR_AGE'`?

***Question 5:*** <br>
What is the percentage of missing values for the column `'COMMONAREA_MODE'`? (rounded to the nearest integer)

Write some code to get the datatype (int64, float64...) of each column. For this just report how the columns are recognized by the default loading of the csv file.

In [0]:
#YOUR CODE HERE

***Question 6:*** <br>
How many variables are numeric continuous (ie, “float64”) ?

***Question 7:*** <br>
How many variables are numeric discrete (ie, “int64”) ?

***Question 8:*** <br>
How many variables are categorical (ie, “object”) ?

Convert the column `'FLAG_CONT_MOBILE'` to a categorical variable in our dataframe

In [0]:
#YOUR CODE HERE

<br>

Remove the NULL values and plot the distribution of the `AMT_CREDIT` and the `AMT_GOODS_PRICE`.

In [0]:
#YOUR CODE HERE

***Question 9:***<br>
To which distribution the `AMT_CREDIT` and the `AMT_GOODS_PRICE` looks like ?

- Gaussians
- Uniforms
- None of the above


Plot on a pie chart the proportion of ``'NAME_INCOME_TYPE'``, income sources of applicant's who applied for loan. You have to count the number of loans for each type. 

**Hint:** Having a new Dataframe with the *index* and *values* of the result of *value_counts()* will make this plot easy

In [0]:
#YOUR CODE HERE

***Question 10*** : <br>
What is the proportion of *Commercial associate* (in percent, rounded to the nearest integer)

Select the sub-dataframe where `'NAME_CONTRACT_TYPE'` is *Cash loans* and `'AMT_INCOME_TOTAL'` is bigger than 225000

In [0]:
#YOUR CODE HERE

***Question 11:*** <br>
How many loans satisfy a *Cash loans* contract and a *AMT total income* bigger than 225000?

Create a boxplot for the column `'FLOORSMAX_AVG'`

In [0]:
#YOUR CODE HERE

***Question 12:*** <br>
From the box plot on `'FLOORSMAX_AVG'`, are there more outliers in the small or the large values?

Compute the pearson correlation of all the features with respect to the ``'TARGET'`` variable. Plot the 20 most correlated variables (positively and negatively correlated). Use the 'dropna()' function to drop the columns causing problems.

**Hint:** *corr()* method can be applied to Dataframes

In [0]:
#YOUR CODE HERE

***Question 13:*** <br>
What is the column with the highest positive correlation to the column ``'TARGET'``?

***Question 14:*** <br>
What is the column with the second highest positive correlation to the column ``'TARGET'``?

***Question 15:*** <br>
What is the column **least** correlated to the column ``'TARGET'``?

**Remember:** What is the correlation of two uncorrelated variables?

Create a pairplot of columns `'LIVINGAPARTMENTS_AVG'`, `'APARTMENTS_MEDI'`, `'HOUR_APPR_PROCESS_START'` and `'REGION_RATING_CLIENT_W_CITY'`. Use the `'TARGET'` column as the *hue* argument

In [0]:
#YOUR CODE HERE

***Question 16:***<br>
Among the above variables, what are the 2 variables that are the most correlated?

Create a heatmap of correlations of columns `'DAYS_BIRTH'`, `'YEARS_BUILD_AVG'`, `'AMT_ANNUITY'` and `'TARGET'`

In [0]:
#YOUR CODE HERE

## SQL

Now you will test your knowledge of SQL with some statement. For this we will load the Titanic dataset which you also used in the lab. You have to answer the following questions.

In [0]:
# Load table from CSV file
import pandas as pd
from sqlalchemy import create_engine

# create the database
db = create_engine('sqlite://', echo=False)

# Titanic table
csvfile = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/week6%20-%20SQL2/data/Titanic.csv'
df = pd.read_csv(csvfile)
table_name = "Titanic"
df.to_sql(table_name, con=db) # populate it with the data

***Question 17:***<br>
Are there any pairs of passengers with the same last name where one is in first class and the other is in third class? If so, return the last name and the two first names. Label the first-name columns 'first' for the passenger in first class and 'third' for the passenger in third class.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df

***Question 18:***<br>
Which embarkation cities have more than 40 passengers whose age is missing? Reminder: Blanks in SQL tables are given a special value called 'null', and conditions 'A is null' and 'A is not null' can be used in Where clauses to check whether attribute A has the 'null' value.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df

***Question 19:***<br>
Find all classes where the average fare paid by passengers in that class was more than twice the overall average or less than half the overall average.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df

***Question 20:***<br>
List each class and its survival rate, i.e., the fraction of passengers in that class who survived.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df