# Assignment 1

For the first assignment, you will apply what you have learnt in the first labs. You have the opportunity to review and practice data cleaning and also SQL. The first dataset consists of data for loan applications at a bank. One row represents one past loan application, the features of the applicant and whether it was accepted or not. 

You will apply exploratory data analysis on it. You can use what you learnt previously from the first exercises. The methology behind this assignment is quite similar, but since the dataset is different you should sometimes adapt your code.

### Important Notice : 
You are supposed to fill this notebook following the instructions (i.e. writing code in the cells with *#YOUR CODE HERE*). Your code should be able to provide the solution so that you can answer various questions posed in this notebook and in a Moodle Quiz. You'll be evaluated on both readability of the notebook and correctness of the answers given on Moodle.

So for this assignment you have to complete this notebook and then (you have to do BOTH!):

1. Submit your Python notebook here: https://moodle.unil.ch/mod/assign/view.php?id=787962
2. Answer the questions in this Moodle Quiz:
https://moodle.unil.ch/mod/quiz/view.php?id=786880 (you can only submit ONCE!)

In [0]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

sns.set(style="darkgrid")
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

<br>
First, load the file from our github link in a Dataframe.

In [0]:
url = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/new_application_train_1.csv'
#YOUR CODE HERE
#load the file in a dataframe
#use the head() command to get a feeling of the data and the columns
#use the proper pandas command to find its dimensions

***Question 1 :***
<br>
How many rows and columns does the dataset have? (without including the header).

<br>

The `'TARGET'` column indicates the people who have been given a loan (value of 0) and the ones who have not (value of 1). Using a barplot, show how many loans were given (TARGET=0) and how many were declined (TARGET=1).

**Hint:** Use *plot()* method on the result of *value_count()*

In [0]:
#YOUR CODE HERE

***Question 2 :*** <br>
How many loans were accepted (TARGET = 0) vs declined (TARGET = 1)?

<br>

Use the *describe* method to get some summary statistics about `'DAYS_BIRTH'` and `'DAYS_EMPLOYED'` columns. Do you recognize some weird values ? In the `'DAYS_EMPLOYED'` column, if you plot the histogram, you should see that there are some very large values, distant from the rest of the values. Remove those very large values (eg all the values more than X, you have to decide on the X based on the histogram that you see). These values don't make sense for this column. Plot the histogram of `'DAYS_EMPLOYED'` before and after the removal of those large values and the transformation that we recommend below.
<br>


**Hint:** The values in those two columns are negative because they correspond to a difference in number of days since the beginning of employment or birth. The following transformation can be useful: 
- Taking the absolute value (*abs()*) since we want positive numbers

In [0]:
#YOUR CODE HERE
# do abs transformations
# use describe

**Answer Note:** Those ages look reasonable. There are no outliers for the age on either the high or low end. Employed days doesn't look right! The maximum value is about 1000 years!

In [0]:
#YOUR CODE HERE
# do histogram of DAYS_EMPLOYED

In [0]:
# YOUR CODE HERE
# remove the outliers from DAYS_EMPLOYED column
# show the histogram now

# use the describe on the new values

***Question 3:*** <br>
After the removal of the outliers, what is the new mean value of `'DAYS_EMPLOYED'` column? (rounded to the nearest integer)

For each column, compute the number of missing entries and the percentage of the total rows in the column that it represents.

**Hint:** Consider summing the null values using the *isnull()* and *sum()* methods

In [0]:
#YOUR CODE HERE
# compute missing values for all columns

# compute percentage of missing values for all columns

***Question 4:*** <br>
What is the number of missing values for the column `'OWN_CAR_AGE'`?

***Question 5:*** <br>
What is the percentage of missing values for the column `'COMMONAREA_MODE'`? (rounded to the nearest integer)

Write some code to get the datatype (int64, float64...) of each column. For this just show the datatype of the columns as recognized by the default loading of the csv file (use command dtypes). Also count how many of each datatype you have.

In [0]:
#YOUR CODE HERE

***Question 6:*** <br>
How many variables are numeric continuous (ie, “float64”) ?

***Question 7:*** <br>
How many variables are numeric discrete (ie, “int64”) ?

***Question 8:*** <br>
How many variables are categorical (ie, “object”) ?

Convert the column `'FLAG_CONT_MOBILE'` of our dataframe to a categorical variable.

In [0]:
#YOUR CODE HERE

<br>

Remove the NULL values (use the dropna function) and plot the distribution of the `AMT_CREDIT` and the `AMT_GOODS_PRICE`.

In [0]:
# drop null values
#YOUR CODE HERE

# plot histogram 1
#YOUR CODE HERE

# plot histogram 2
#YOUR CODE HERE

***Question 9:***<br>
What distribution does the `AMT_CREDIT` and the `AMT_GOODS_PRICE` histogram resemble?

- Gaussian
- Uniform
- None of the above


Create a pie chart that shows proportion of different values in the column ``'NAME_INCOME_TYPE'`` (income sources of applicant's who applied for loan). You have to count the number of loans for each type and show are a pie chart.

**Hint:** Having a new Dataframe with the *index* and *values* of the result of *value_counts()* will make this plot easy

In [0]:
#YOUR CODE HERE

***Question 10*** : <br>
What is the percentage of rows that had the value 'Commercial associate' in that column (rounded to the nearest integer, just the number of the percentage without the %, only an integer in the quiz)

Select the rows where `'NAME_CONTRACT_TYPE'` is *Cash loans* and `'AMT_INCOME_TOTAL'` is bigger than 225000

In [0]:
#YOUR CODE HERE

***Question 11:*** <br>
How many rows satisfy a *Cash loans* contract and a *AMT total income* bigger than 225000?

Create a boxplot for the column `'FLOORSMAX_AVG'`

In [0]:
#YOUR CODE HERE

***Question 12:*** <br>
From the box plot on `'FLOORSMAX_AVG'`, are there more outliers with small or with large values?

Compute the pearson correlation of all the features with respect to the ``'TARGET'`` variable. Notice that some of the correlations are NaN. Use the 'dropna()' function to remove those values. Plot the 20 most positively correlated variables/columns to 'TARGET'. Plot the 20 most negatively correlated variables/columns to 'TARGET'. Sort them and put them in a **bar chart** for example. 

**Hint:** *corr()* method can be applied to Dataframes

In [0]:
#YOUR CODE HERE

***Question 13:*** <br>
What is the column with the highest positive correlation to the column ``'TARGET'`` (other than 'TARGET'!)?

***Question 14:*** <br>
What is the column with the second highest positive correlation to the column ``'TARGET'``?

***Question 15:*** <br>
What is the column **least** correlated to the column ``'TARGET'``?

**Remember:** We are looking for correlation close to zero.

Create a pairplot of columns `'LIVINGAPARTMENTS_AVG'`, `'APARTMENTS_MEDI'`, `'HOUR_APPR_PROCESS_START'` and `'REGION_RATING_CLIENT_W_CITY'`. Use the `'TARGET'` column as the *hue* argument

In [0]:
#YOUR CODE HERE

Now, create a heatmap of correlations of columns `'DAYS_BIRTH'`, `'YEARS_BUILD_AVG'`, `'AMT_ANNUITY'` and `'TARGET'`

In [0]:
#YOUR CODE HERE

***Question 16:***<br>
Among the above variables ('DAYS_BIRTH', 'YEARS_BUILD_AVG', 'AMT_ANNUITY' and 'TARGET'), what are the 2 variables that are the most correlated?

## SQL

Now you will test your knowledge of SQL with some statement. For this we will load the Titanic dataset which you also used in the lab. You have to answer the following questions.

In [0]:
# Load table from CSV file
import pandas as pd
from sqlalchemy import create_engine

# create the database
db = create_engine('sqlite://', echo=False)

# Titanic table
csvfile = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/week6%20-%20SQL2/data/Titanic.csv'
df = pd.read_csv(csvfile)
table_name = "Titanic"
df.to_sql(table_name, con=db) # populate it with the data

***Question 17:***<br>
Are there any pairs of passengers with the same last name where one is in first class and the other is in third class? If so, return the last name and the two first names. Label the first-name columns 'first' for the passenger in first class and 'third' for the passenger in third class.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df

***Question 18:***<br>
Which embarkation cities have more than 40 passengers whose age is missing? Reminder: Blanks in SQL tables are given a special value called 'null', and conditions 'A is null' and 'A is not null' can be used in Where clauses to check whether attribute A has the 'null' value.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df

***Question 19:***<br>
Find all classes where the average fare paid by passengers in that class was more than twice the overall average or less than half the overall average.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df

***Question 20:***<br>
List each class and its survival rate, i.e., the fraction of passengers in that class who survived. Try to round the number to the 2nd decimal digit.

In [0]:
query = """

---YOUR QUERY HERE ----

"""
sql_df = pd.read_sql(query, con=db)
sql_df